<div [@inOut]="translation">
    <p style="z-index:1; background-color:white;" >
      new-comp works!
      <button md-raised-button (click)="connectMe()">connect</button>
      <button (click)="showEvents()">show</button>
      <button (click)="loadFBCover()">load</button>
    </p>  
      
    <div  style="display:block; margin-left:30px;z-index:-1">


        <md-card style="width:80%;">
          <md-card-header>
              <md-card-header-text>
                <h2 class="md-title">Header title</h2>
                
              </md-card-header-text>
              <md-card-avatar>
                <!--<img class="md-user-avatar" src=“path/to/img.png”>-->
              </md-card-avatar>
          </md-card-header>
          <!--<img src=“path/to/img.png”>-->
          <md-card-title>
              <md-card-title-text>
                <h2 class="md-headline">Content title</h2>
                <span class="md-subhead">Subtitle</span>
              </md-card-title-text>
          </md-card-title>
          <md-card-content>
              <p *ngIf="calendarEvents.length > 0" >
                <li *ngFor="let calendarEvent of calendarEvents" @calendarEvent="calendarEvent.state" style="display:block; margin:10px;background-color:green;">
                          <span>Name : {{ calendarEvent.name }}</span>
                </li>
              </p>
          </md-card-content>
          <md-card-actions>
              <button md-button>SHOW</button>
          </md-card-actions>
        </md-card>




        
    </div> 
</div>    


